@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap");

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-dark-blue: hsl(209, 23%, 22%);
  --c-very-dark-blue-1: hsl(207, 26%, 17%);
  --c-very-dark-blue-2: hsl(200, 15%, 8%);
  --c-white: hsl(0, 0%, 100%);
  --c-white-98: hsl(0, 0%, 98%);
  --c-white-52: hsl(0, 0%, 52%);
  --ff-poppins: "Poppins", sans-serif;
  --t-color-bg: color 0.5s, background-color 0.5s;
}

/* semantic color variables for this project */

[theme="custom-light"] {
  --c-background: var(--c-white-98);
  --c-elements: var(--c-white);
  --c-text: var(--c-very-dark-blue-2);
  --c-input: var(--c-white-52);
  --c-theme-switcher: var(--c-very-dark-blue-1);
}

[theme="custom-dark"] {
  --c-background: var(--c-very-dark-blue-1);
  --c-elements: var(--c-dark-blue);
  --c-text: var(--c-white);
  --c-input: var(--c-white-52);
  --c-theme-switcher: var(--c-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--c-background);
  color: var(--c-text);
  font-family: var(--ff-poppins);
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  transition: var(--t-color-bg);
}
